html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	padding-bottom: 100px;	
}

header {
	z-index: 3;
	line-height: 50px;
	color: white;
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	background: black;
	width: 50px;
	height: 50px;
	text-align: center;
	opacity: .8;
	-webkit-transition: -webkit-transform .5s ease;
}

header.move {
	-webkit-transform: translateY(-50px);
}

header a {
	position: relative;
	text-decoration: none;
	color: white;
	margin: auto;
}

#cover {
	position: relative;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

#cover #cover_content {
	font-size: 50px;
	font-family: 'Open Sans';
	font-weight: 400;
	position: absolute;
	text-align: center;
	width: 500px;
	margin-left: -250px;
	bottom: 190px;
	left: 50%;
	color: white;
}

#cover_content h1 {
	line-height: 0px;
}

#cover_content h2 {
	font-style: italic;
	font-size: 24px;
}

#cover:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: black;
	opacity: 0;
}

#blog_content {
	margin-top: 40px;
	margin-bottom: 70px;
	font-family: 'Merriweather';
	max-width: 700px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 1px;
	line-height: 1.9em;
}

#blog_content p {
	color: rgba(0,0,0,0.7);
	font-weight: 300;
	font-size: 18px;
}

@media (max-width: 550px) {
	#cover #cover_content {
		font-size: 20px;
		width: 300px;
		margin-left: -150px;
	}

}