.base {
	padding-top: 200px;
}

.about-description {
	color: white;
	font-weight: 300;
}

.about-description h1{
	font-size: 20px;
	letter-spacing: .3em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 700;
	color: #ff4446;
}

.about-description p {
	line-height: 1.7em;
	max-width: 620px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.about-picture {
	background-image: url(../assets/1.jpg);
	background-position: center center;
	background-size: cover;
	height: 250px;
}