
#contact {
	display: block;
	margin: 0 auto;
	margin-top: 200px;
	max-width: 500px;
	color: white;
	letter-spacing: .15em;
	font-weight: 300;
	font-size: 1em;
	
}

h1 {
	letter-spacing: .3em;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-bottom:50px;
	color: #ff4446
}

#contact-info {
	float: left;
}

#contact-wrap {
	margin-top: 100px;
}

#networks {
	float: right;
}

#contact a {
	color: white;
	text-decoration: none;
}

#contact a:hover {
	text-decoration: underline;
}

#contact a:visited {
	color: white;
}

@media all and (max-width: 800px) {
	
	#contact {
		text-align: center;
		
	}
	
	#contact-wrap {
		max-width: 200px;
		margin: 0 auto;
	}
	
	#contact-info {
		float: none;
	}
	
	#networks {
		float: none;
		margin-top: 2em;
	}
}
