body {
	padding-top: 50px;
}
.email-description {
	color: white;
	font-weight: 300;
}

.email-description h1{
	font-size: 20px;
	letter-spacing: .3em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 300;
}

.email-description p {
	line-height: 1.7em;
	max-width: 620px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
}