body {
	padding-top: 50px;
}

/*.email-description h1{
	font-size: 20px;
	letter-spacing: .3em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 300;
}

.email-description p {
	line-height: 1.7em;
	max-width: 620px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
}*/

.email-description {
	color: white;
	height: 100px;
	max-width: 700px;
	position: absolute;	
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	text-align: center;
}

.email-description h3 {
	text-transform: uppercase;
	letter-spacing: .3em;
}

.email-description p {
	/*font-style: italic;*/
	margin-top: 50px;