* {
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: black;
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

#feature-container {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.feature {
	position: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 50;
}

.large {
	height: 100vh;
	width: 75vw;
}

.small {
	height: 70vh;
	width: 52.5vw;
}

.img1 {
	background-image: url("../assets/1.jpg");
}

.img2 {
	background-image: url("../assets/2.jpg");
	/*top: 150%;*/
}

.img3 {
	background-image: url("../assets/3.jpg");
}