#logo {
	position: fixed;
	width: 100px;
	height: 135px;
	background-image: url(../assets/logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	left: 33px;
	top: 3%;
	z-index: 100;
}

.nav {
	position: fixed;
	margin: 0;
	padding: 0;
	/*background-color: red;*/
	font-size: 0.8em;
	top: 70%;
	z-index: 100;
	letter-spacing: .15em;
	font-weight: 300;
}

.right {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	right: 0px;
}

.left {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	left: 0;
}

.nav li {
	/*background-color: blue;*/
	display: inline-block;
	margin-right: 25px;
}

.nav li:last-of-type {
	margin-right: 0px;
}

.nav li a {
	color: #FF4446;
	text-decoration: none;
}

.nav li a:hover {
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #FF4446;
	
}

.nav li a:visited {
	color: #FF4446;
}

.current-link {
	padding-bottom: 3px;
	border-bottom: 1px solid #FF4446;
	cursor: default;
}

@media all and (max-width: 620px) {
	okay {
		font-size: 16px;
	}
}

@media (max-width: 850px) {

	#logo {
		position: relative;
		left: 0px !important;
		margin: 20px auto 0px auto;
	}
}