.product-container {
	width: 582px;
	margin: 0 auto;
	color: white;
	font-family: inherit;
	overflow: hidden;
	margin-top: 100px;
}

.product-picture {
	display: inline-block;
	float: left;
	background-image: url(../assets/3.jpg);
	background-position: center center;
	background-size: cover;
	width: 250px;
	height: 250px;
}

.product-details {
	position: relative;
	display: inline-block;
	float: left;
	width: 300px;
	height: 250px;
	margin-left: 32px;
	font-weight: 300;
}

.product-details .product-name {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: 16px;
	font-weight: 300;
}

.product-details .product-description {
	font-style: italic;
}

.product-details .product-purchase {
	position: absolute;
	width: 100%;
	bottom: 0px;
	letter-spacing: .65em;
	text-align: center;
	padding: 10px 10px;
	border: 2px solid white;
}

@media (max-width: 850px) {
	.product-container {
		width: 75%;
	}

	.product-picture {
		float: none;
		display: block;
		margin: 0 auto;
		width: 80%
	}

	.product-details {
		display: block;
		float: none;
		width: 80%;
		padding: 0;
		margin: 0 auto;
		margin-top: 30px;
		height: 200px;
	}
}

.lightbox-wrapper {
	z-index: 5656;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}

.lightbox {
	background-color: black;
	position: absolute;
	height: 500px;
	width: 780px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	overflow: scroll;
}

.lightbox-scroll {
	width: 100%
}

.lightbox-image {
	float: left;
	display: inline-block;
	background-color: red;
	box-sizing: border-box;
	height: 250px;
	width: 250px;
	margin: 5px;
}

.close-button {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 25px;
	top: 25px;
	border-radius: 100%;
	background-color: red;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.noScroll {
	overflow: hidden;
}