.base {
	padding-top: 200px;
}

#h1 h1 {
	letter-spacing: .3em;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
	color: #ff4446
}

.product-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	color: white;
	font-family: inherit;
	/*margin-bottom: 100px;*/
	/*overflow: auto;*/
	width: 100%;
	height: auto;
}

.product-container a {
	text-decoration: none;
	color: white;
}

.product-picture {
	position: relative;
	display: inline-block;
	/*float: left;*/
	background-image: url(../assets/3.jpg);
	background-position: center center;
	background-size: cover;
	width: 250px;
	height: 250px;
}

.hide-button {
	display: none;
}

.product-picture:before {
	opacity: 0;
	display: inline-block;
	background-color: black;
	content: "";
	width: 100%;
	height: 100%;
}

.product-picture:hover:before {
	opacity: .5;
	cursor: zoom-in;
}

.button {
	background-color: black;
	width: 32px;
	height: 32px;
	border: 1px solid rgba(0,0,0,1);
	box-shadow: 0 1px 3px -1px rgba(0,0,0,0.8),inset 0 0 1px rgba(255,255,255,0.07),inset 0 0 2px rgba(255,255,255,0.15);
}

.lightbox-button {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.lightbox-button:hover {
	cursor: pointer;
}

.magnify-button {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.product-details {
	/*vertical-align: top;*/
	position: relative;
	display: inline-block;
	/*float: left;*/
	width: 300px;
	height: 250px;
	margin-left: 32px;
	font-weight: 200;
	line-height: 150%;
	vertical-align: top;
}

.product-details .product-name, .product-price {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: 19px;
	font-weight: 300;

}

.product-details .product-description {
	font-style: italic;
	margin-bottom: 20px;
}

.product-details .product-purchase {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 1px;
	letter-spacing: .65em;
	text-align: center;
	padding: 10px 10px;
	border: 2px solid white;
}

select {
	border: none;
	border-bottom: 1px solid white;
	-webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 6px;
  width: 100%;
  font-family: inherit;
  font-weight: 300;
  background-color: #000;
  color: white;
  margin-bottom: 10px;
  margin-top: -5px;
  background: url("/assets/arrow.svg") no-repeat right;
  -webkit-background-size: 10px;
  background-size: 10px;
}

select:focus {
	outline: none;
}

#select-container {
	margin-bottom: 10px;
}

.last-select {
	border: none;
}

input {
	width: 100%;
	background-color: #000;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	padding: 6px;
	margin-bottom: 10px;
	margin-top: -5px;
}

input:focus {
	outline: none;
}

#payment-wrap h2, h3 {
	text-align: center;
	letter-spacing: .3em;
	font-weight: 700;
}

#order-sum {
	text-align: center;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white; 
}

:-ms-input-placeholder {  
   color: white;
}

#payment-wrap {
	margin-bottom: 50px;
}

@media (max-width: 850px) {
	.product-picture {
		float: none;
		display: block;
		margin: 0 auto;
		width: 90%;
	}

	.product-details {
		display: block;
		float: none;
		width: 90%;
		padding: 0;
		margin: 0 auto;
		margin-top: 30px;
	}

	.product-purchase {
		position: relative;
	}

	.lightbox-button {
		display: none;
	}


}

.lightbox-wrapper {
	z-index: 5656;
	background-color: rgba(0, 0, 0, 1);
	opacity: .6;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	-webkit-animation-duration: .5s;
    -webkit-animation-name: fadeInFromNone;
}

.magnify-wrapper {
	z-index: 5656;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	-webkit-animation-duration: .5s;
    -webkit-animation-name: fadeInFromNone;
}

.magnify {
	background-color: red;
	background-image: url(../assets/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	width: 700px;
	height: 700px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	-webkit-animation-duration: .5s;
    -webkit-animation-name: magnifyImage;
}

.magnify:hover {
	cursor: zoom-out;
}

.lightbox {
	background-color: black;
	position: absolute;
	max-height: 540px;
	width: 780px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	overflow: scroll;
}

.lightbox-scroll {
	width: 100%
}


.lightbox-image {
	float: left;
	display: inline-block;
	background-color: red;
	box-sizing: border-box;
	height: 250px;
	width: 250px;
	margin: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.close-button {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 25px;
	top: 25px;
	border-radius: 100%;
	background-image: url(../assets/close.png);
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: .6;
    }
}

@-webkit-keyframes magnifyImage {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 700px;
        height: 700px;
    }
}

.hide {
	display: none;
	opacity: 0;
}

.show {
	display: block;
	opacity: 1
}

.noScroll {
	overflow: hidden;
}
