* {
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: black;
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	padding-bottom: 100px;
}

.base {
	position: relative;
	width: 75%;
	margin: 0 auto;
	padding-top: 200px;
}

@media (max-width: 850px) {
	.base {
		padding-top: 100px !important;
	}
}