
body {
	margin: 0;
	padding: 0;
}

.header {
    height:98vh;
}

.header h1 {
	font-size: 150px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-align: center;
	padding: 20px;
	border: 20px black solid;
	position: relative;
	letter-spacing: -0.05em;
	/*background-color: orange;*/
	width: 250px;
	margin: 0 auto;
	top: 30%;
	background-image: url("bg.gif");
	background-position: -50% 0%;
	-webkit-background-clip: text;
   	-webkit-text-fill-color: transparent;
}

.header .nav {
	font-family: "Roboto";
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	padding: 20px;
	right: 10px;
}

.header .nav a {
	margin-right: 10px;
}